# ignore flask session(s)
flask_session

# virtual environment, if you are using
.venv
venv/

# cache files
__pycache__/

# distribution / packaging
*.egg-info/

# linter config
.flake8
.stylelintrc.json

